---

---

<footer
  class="border-t border-gray-200 dark:border-gray-800 w-full flex flex-col items-center py-12 text-gray-600 dark:text-gray-400"
>
  <div class="mb-4 flex text-sm">
    <a class="inline sm:hidden no-underline" href="/politica-de-cookies"> Cookies </a>
    <a class="hidden sm:inline no-underline" href="/politica-de-cookies"> Políticas de Cookies </a>
    <span class="mx-2">|</span>
    <a class="inline sm:hidden no-underline" href="/politica-de-privacidad"> Privacidad </a>
    <a class="hidden sm:inline no-underline" href="/politica-de-privacidad"> Políticas de Privacidad </a>
    <span class="mx-2">|</span>
    <a class="inline sm:hidden no-underline" href="/aviso-legal"> Legal </a>
    <a class="hidden sm:inline no-underline" href="/aviso-legal"> Aviso Legal </a>
  </div>
  <div class="flex text-sm">
    <span>Esdocu</span>
    <span class="px-1">•</span>
    <span>© {new Date().getFullYear()}</span>
    <span class="hidden sm:block px-1">•</span>
    <span class="hidden sm:block">Manuales sobre Desarrollo de Software</span>
  </div>
</footer>
