<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <body dir="ltr">
    {{- partial "navbar.html" . -}}
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{- $showAdCashAutotag := .Site.Params.showAdCashAutotag | default false -}}
    {{- if eq $showAdCashAutotag true }}
    <script type="text/javascript">
      aclib.runAutoTag({
          zoneId: 'bzk0lyfwp4',
      });
    </script>
    {{ end -}}
  </body>
  {{ partial "scripts.html" . }}
</html>
