<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <body dir="ltr">
    {{- partial "navbar.html" . -}}
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{- $showAdCashAutotag := .Site.Params.showAdCashAutotag | default false -}}
    {{- if eq $showAdCashAutotag true }}
    <script type="text/javascript">
      aclib.runAutoTag({
          zoneId: 'bzk0lyfwp4',
      });
    </script>
    {{ end -}}

    {{- $showAdsterraSocialBar := .Site.Params.showAdsterraSocialBar | default false -}}
    {{- if eq $showAdsterraSocialBar true }}
    <script type='text/javascript' src='//pl22561290.profitablegatecpm.com/4f/61/0d/4f610dae2e6aca43c3cd6f58f544d85c.js'></script>
    {{ end -}}
  </body>
  {{ partial "scripts.html" . }}
</html>
