{{- $showHostingerBottomBanner := .Site.Params.showHostingerBottomBanner | default false -}}
{{- if eq $showHostingerBottomBanner true }}
    <!-- Mejor hosting banner -->
    <div class="mt-5 flex w-full flex-row items-center justify-center">
        <div class="animate-border inline-block rounded-md bg-white bg-gradient-to-r from-red-500 via-purple-500 to-blue-500 bg-[length:400%_400%] p-[5px]">
            <a href="https://esdocu.com/mejor-hosting" target="_blank" rel="nofollow">
               <img class="rounded-md border-0 !m-0" src="/assets/banners/hostinger/mejor-hosting-banner-1.png" alt="El mejor hosting WordPress" />
            </a>
        </div>
    </div>
{{ end -}}

{{- $showAdCashBottomBanner := .Site.Params.showAdCashBottomBanner | default false -}}
{{- if eq $showAdCashBottomBanner true }}
<div class="my-5">
    
</div>
{{ end -}}

{{- $showTMBottomBanner := .Site.Params.showTMBottomBanner | default false -}}
{{- if eq $showTMBottomBanner true }}
<div class="my-5">
    <!-- TheMoneytizer: MEGABANNER INFERIOR -->
    <div id="120346-28"><script src="//ads.themoneytizer.com/s/gen.js?type=28"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=120346&formatId=28"></script></div>
</div>
{{ end -}}

{{- $showCustomBottomBanner := .Site.Params.showCustomBottomBanner | default false -}}
{{- if eq $showCustomBottomBanner true }}
    <div class="my-5 p-1 rounded-md border border-indigo-300">
        <a href="https://cafecito.app/esdocu" target="_blank">
            <img class="rounded-md border-0 !m-0" src="/assets/banners/cafecito-ad-1.svg" alt="Donar a Esdocu.com" />
        </a>
        <div class="mx-1 mt-1 text-sm">
            Podés aportar a través de 
            <a href="https://link.mercadopago.com.ar/esdocu" target="_blank">Mercado Pago</a>, 
            <a href="https://www.paypal.com/paypalme/esdocu" target="_blank">PayPal</a> o 
            <a href="https://cafecito.app/esdocu" target="_blank">Cafecito</a>. 
            ¡Muchas Gracias!
        </div>
    </div>
{{ end -}}