{{- $showAdsterraMiddleBanner2 := .Site.Params.showAdsterraMiddleBanner2 | default false -}}
{{- if eq $showAdsterraMiddleBanner2 true }}
<div class="my-5">
    <center>
        <script type="text/javascript">
            atOptions = {
                'key' : 'c141ad0ef53858f8008c66ee8359dfd4',
                'format' : 'iframe',
                'height' : 250,
                'width' : 300,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/c141ad0ef53858f8008c66ee8359dfd4/invoke.js"></scr' + 'ipt>');
        </script>
    </center>
</div>
{{ end -}}

{{- $showAdCashMiddleBanner2 := .Site.Params.showAdCashMiddleBanner2 | default false -}}
{{- if eq $showAdCashMiddleBanner2 true }}
<div id="awn-z8083874" class="my-5"></div>
{{ end -}}

{{- $showTMMiddleBanner2 := .Site.Params.showTMMiddleBanner2 | default false -}}
{{- if eq $showTMMiddleBanner2 true }}
<div class="my-5">
    <!-- TheMoneytizer: ROBAPÁGINAS -->
    <div id="120346-2"><script src="//ads.themoneytizer.com/s/gen.js?type=2"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=120346&formatId=2"></script></div>
</div>
{{ end -}}

{{- $showCustomMiddleBanner2 := .Site.Params.showCustomMiddleBanner2 | default false -}}
{{- if eq $showCustomMiddleBanner2 true }}
    <div class="my-5 p-1 rounded-md border border-indigo-300">
        <a href="https://cafecito.app/esdocu" target="_blank">
            <img class="rounded-md border-0 !m-0" src="/assets/banners/cafecito-ad-1.svg" alt="Donar a Esdocu.net" />
        </a>
        <div class="mx-1 mt-1 text-sm">
            Podés aportar a través de 
            <a href="https://link.mercadopago.com.ar/esdocu" target="_blank">Mercado Pago</a>, 
            <a href="https://www.paypal.com/paypalme/esdocu" target="_blank">PayPal</a> o 
            <a href="https://cafecito.app/esdocu" target="_blank">Cafecito</a>. 
            ¡Muchas Gracias!
        </div>
    </div>
{{ end -}}