{{- $showTMMiddleBanner5 := .Site.Params.showTMMiddleBanner5 | default false -}}
{{- if eq $showTMMiddleBanner5 true }}
<div class="my-5">
    <!-- TheMoneytizer: SPLITSCREEN -->
    <div id="120346-3"><script src="//ads.themoneytizer.com/s/gen.js?type=3"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=120346&formatId=3"></script></div>
</div>
{{ end -}}

{{- $showCustomMiddleBanner5 := .Site.Params.showCustomMiddleBanner5 | default true -}}
{{- if eq $showCustomMiddleBanner5 true }}
    <div class="my-5 p-1 rounded-md border border-indigo-300">
        <a href="https://cafecito.app/esdocu" target="_blank">
            <img class="rounded-md border-0 !m-0" src="/assets/banners/cafecito-ad-1.svg" alt="Donar a Esdocu.net" />
        </a>
        <div class="mx-1 mt-1 text-sm">
            Podés aportar a través de 
            <a href="https://link.mercadopago.com.ar/esdocu" target="_blank">Mercado Pago</a>, 
            <a href="https://www.paypal.com/paypalme/esdocu" target="_blank">PayPal</a> o 
            <a href="https://cafecito.app/esdocu" target="_blank">Cafecito</a>. 
            ¡Muchas Gracias!
        </div>
    </div>
{{ end -}}