{{- $showHostingerMiddleBanner5 := .Site.Params.showHostingerMiddleBanner5 | default false -}}
{{- if eq $showHostingerMiddleBanner5 true }}
    <!-- Mejor hosting banner -->
    <div class="mt-5 flex w-full flex-row items-center justify-center">
        <div class="animate-border inline-block rounded-md bg-white bg-gradient-to-r from-red-500 via-purple-500 to-blue-500 bg-[length:400%_400%] p-[5px]">
            <a href="https://esdocu.com/mejor-hosting" target="_blank" rel="nofollow">
               <img class="rounded-md border-0 !m-0" src="/assets/banners/hostinger/mejor-hosting-banner-1.png" alt="El mejor hosting WordPress" />
            </a>
        </div>
    </div>
{{ end -}}

{{- $showAdsterraMiddleBanner5 := .Site.Params.showAdsterraMiddleBanner5 | default false -}}
{{- if eq $showAdsterraMiddleBanner5 true }}
<div class="my-5">
    <center>
        <script type="text/javascript">
            atOptions = {
                'key' : '02c7cc9f6fba277c87492fa895b99210',
                'format' : 'iframe',
                'height' : 300,
                'width' : 160,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/02c7cc9f6fba277c87492fa895b99210/invoke.js"></scr' + 'ipt>');
        </script>
    </center>
</div>
{{ end -}}

{{- $showAdCashMiddleBanner5 := .Site.Params.showAdCashMiddleBanner5 | default false -}}
{{- if eq $showAdCashMiddleBanner5 true }}
<div class="my-5">
    
</div>
{{ end -}}

{{- $showTMMiddleBanner5 := .Site.Params.showTMMiddleBanner5 | default false -}}
{{- if eq $showTMMiddleBanner5 true }}
<div class="my-5">
    <!-- TheMoneytizer: SPLITSCREEN -->
    <div id="120346-3"><script src="//ads.themoneytizer.com/s/gen.js?type=3"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=120346&formatId=3"></script></div>
</div>
{{ end -}}

{{- $showCustomMiddleBanner5 := .Site.Params.showCustomMiddleBanner5 | default false -}}
{{- if eq $showCustomMiddleBanner5 true }}
    <div class="my-5 p-1 rounded-md border border-indigo-300">
        <a href="https://cafecito.app/esdocu" target="_blank">
            <img class="rounded-md border-0 !m-0" src="/assets/banners/cafecito-ad-1.svg" alt="Donar a Esdocu.com" />
        </a>
        <div class="mx-1 mt-1 text-sm">
            Podés aportar a través de 
            <a href="https://link.mercadopago.com.ar/esdocu" target="_blank">Mercado Pago</a>, 
            <a href="https://www.paypal.com/paypalme/esdocu" target="_blank">PayPal</a> o 
            <a href="https://cafecito.app/esdocu" target="_blank">Cafecito</a>. 
            ¡Muchas Gracias!
        </div>
    </div>
{{ end -}}