{{- $showHostingerMiddleBanner2 := .Site.Params.showHostingerMiddleBanner2 | default false -}}
{{- if eq $showHostingerMiddleBanner2 true }}
    <!-- Mejor hosting banner -->
    <div class="mt-5 flex w-full flex-row items-center justify-center">
        <div class="animate-border inline-block rounded-md bg-white bg-gradient-to-r from-red-500 via-purple-500 to-blue-500 bg-[length:400%_400%] p-[5px]">
            <a href="https://esdocu.com/mejor-hosting" target="_blank" rel="nofollow">
               <img class="rounded-md border-0 !m-0" src="/assets/banners/hostinger/mejor-hosting-banner-1.png" alt="El mejor hosting WordPress" />
            </a>
        </div>
    </div>
{{ end -}}

{{- $showAdsterraMiddleBanner2 := .Site.Params.showAdsterraMiddleBanner2 | default false -}}
{{- if eq $showAdsterraMiddleBanner2 true }}
<div class="my-5">
    <center>
        <script type="text/javascript">
            atOptions = {
                'key' : 'c141ad0ef53858f8008c66ee8359dfd4',
                'format' : 'iframe',
                'height' : 250,
                'width' : 300,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/c141ad0ef53858f8008c66ee8359dfd4/invoke.js"></scr' + 'ipt>');
        </script>
    </center>
</div>
{{ end -}}

{{- $showAdCashMiddleBanner2 := .Site.Params.showAdCashMiddleBanner2 | default false -}}
{{- if eq $showAdCashMiddleBanner2 true }}
<div id="awn-z8083874" class="my-5"></div>
{{ end -}}

{{- $showTMMiddleBanner2 := .Site.Params.showTMMiddleBanner2 | default false -}}
{{- if eq $showTMMiddleBanner2 true }}
<div class="my-5">
    <!-- TheMoneytizer: ROBAPÁGINAS -->
    <div id="120346-2"><script src="//ads.themoneytizer.com/s/gen.js?type=2"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=120346&formatId=2"></script></div>
</div>
{{ end -}}

{{- $showCustomMiddleBanner2 := .Site.Params.showCustomMiddleBanner2 | default false -}}
{{- if eq $showCustomMiddleBanner2 true }}
    <div class="my-5 p-1 rounded-md border border-indigo-300">
        <a href="https://cafecito.app/esdocu" target="_blank">
            <img class="rounded-md border-0 !m-0" src="/assets/banners/cafecito-ad-1.svg" alt="Donar a Esdocu.com" />
        </a>
        <div class="mx-1 mt-1 text-sm">
            Podés aportar a través de 
            <a href="https://link.mercadopago.com.ar/esdocu" target="_blank">Mercado Pago</a>, 
            <a href="https://www.paypal.com/paypalme/esdocu" target="_blank">PayPal</a> o 
            <a href="https://cafecito.app/esdocu" target="_blank">Cafecito</a>. 
            ¡Muchas Gracias!
        </div>
    </div>
{{ end -}}