{{- $showAdsterraTopBanner := .Site.Params.showAdsterraTopBanner | default false -}}
{{- if eq $showAdsterraTopBanner true }}
<div class="my-5">
    <script async="async" data-cfasync="false" src="//pl22561399.profitablegatecpm.com/b70361f780a519e206129927de22eabb/invoke.js"></script>
    <div id="container-b70361f780a519e206129927de22eabb"></div>
</div>
{{ end -}}

{{- $showAdCashTopBanner := .Site.Params.showAdCashTopBanner | default false -}}
{{- if eq $showAdCashTopBanner true }}
<div class="my-5">
    <script type="text/javascript">
        aclib.runBanner({
            zoneId: '8083834',
        });
    </script>
</div>
{{ end -}}

{{- $showTMTopBanner := .Site.Params.showTMTopBanner | default false -}}
{{- if eq $showTMTopBanner true }}
    <div class="my-5">
        <!-- TheMoneytizer: BILLBOARD -->
        <div style="text-align:center;" id="120346-31"><script src="//ads.themoneytizer.com/s/gen.js?type=31"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=120346&formatId=31"></script></div>
    </div>
{{ end -}}

{{- $showCustomTopBanner := .Site.Params.showCustomTopBanner | default false -}}
{{- if eq $showCustomTopBanner true }}
    <div class="my-5 p-1 rounded-md border border-indigo-300">
        <a href="https://cafecito.app/esdocu" target="_blank">
            <img class="rounded-md border-0 !m-0" src="/assets/banners/cafecito-ad-1.svg" alt="Donar a Esdocu.net" />
        </a>
        <div class="mx-1 mt-1 text-sm">
            Podés aportar a través de 
            <a href="https://link.mercadopago.com.ar/esdocu" target="_blank">Mercado Pago</a>, 
            <a href="https://www.paypal.com/paypalme/esdocu" target="_blank">PayPal</a> o 
            <a href="https://cafecito.app/esdocu" target="_blank">Cafecito</a>. 
            ¡Muchas Gracias!
        </div>
    </div>
{{ end -}}